<div id="game">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container">
      <div class="heading">
        <div class="scores-container">
          <div class="score-container">0</div>
          <div class="best-container">0</div>
          <div class="best-container">0</div>
        </div>
      </div>
  
      <div class="above-game">
        <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      </div>
      <div class="game-container">
        <div class="game-message">
          <p></p>
          <div class="lower">
            <a class="keep-playing-button">Keep going</a>
            <a class="retry-button">Try again</a>
          </div>
        </div>
  
        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
        </div>
  
        <div class="tile-container">

        </div>
      </div>
      <p class="game-explanation">
        <a class="restart-button">New Game</a>
        <!-- <a class="restart-button">High Scores</a> -->
      </p>
    </div>
  </div>
  <!-- <div class="about-wrapper bg-dark" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>Borrow what you need, lend out what you don't.</h3>
        <p>Sharing items with Ration is super easy. Take a picture of stuff you don't want to take up space in your apartment/house/basement/whatever, but still kinda want to keep in case you need it someday. Then, if a friend needs it, they'll come get it! The bond of friendship will strengthen, and you'll have more space.</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature col-sm">
            <div class="icon bg-info">
              <i class="fa fa-list-ul"></i>
            </div>
            <h4>List</h4>
            <p>Easily upload photos of items you don't need at the moment, and watch them disappear.</p>
          </div>
          <div class="col-sm feature">
            <div class="icon bg-primary">
              <i class="fa fa-heart"></i>
            </div>
            <h4>Share</h4>
            <p>Let your friends know you care by trusting them with your personal property.</p>
          </div>
          <div class="col-sm feature">
            <div class="icon bg-danger">
              <i class="fa fa-handshake-o"></i>
            </div>
            <h4>Borrow</h4>
            <p>Get seldom-used, fleetingly-needed items from friends instead of buying them new.</p>
          </div>
        </div>
        <a class="btn btn-outline-success mt-5" href="/signup">Join now</a>
      </div>
    </div>
  </div> -->
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>